{% extends 'base.html' %} {% block head %}
<title>About</title>
{% endblock %} {% block body %}

<br />
<h1>About Page</h1>
<br />

<main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia
        placeat nam obcaecati, expedita excepturi odit vitae aliquid doloribus
        dolore assumenda repudiandae. Optio nesciunt aliquid non possimus culpa
        ab nam totam, sed maxime iste, quas illo ut voluptatibus laudantium.
        Nobis assumenda eveniet, quibusdam laborum a necessitatibus. Ullam
        cupiditate dolores mollitia quia?
      </p>
    </div>
  </div>
</main>

{% endblock %}
